[submodule "OCA/l10n-italy"]
	path = OCA/l10n-italy
	url = git@github.com:OCA/l10n-italy.git
	branch = 16.0

[submodule "OCA/account-financial-reporting"]
	path = OCA/account-financial-reporting
	url = git@github.com:OCA/account-financial-reporting.git
	branch = 16.0

[submodule "OCA/account-financial-tools"]
	path = OCA/account-financial-tools
	url = git@github.com:OCA/account-financial-tools.git
	branch = 16.0

[submodule "OCA/server-ux"]
	path = OCA/server-ux
	url = git@github.com:OCA/server-ux.git
	branch = 16.0

[submodule "OCA/partner-contact"]
	path = OCA/partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 16.0

[submodule "OCA/web"]
	path = OCA/web
	url = git@github.com:OCA/web.git
	branch = 16.0

[submodule "stesi/stesi_attendance_timesheet_improvements"]
	path = stesi/stesi_attendance_timesheet_improvements
	url = git@github.com:stesi/stesi_attendance_timesheet_improvements.git
	branch = 16.0

[submodule "OCA/reporting-engine"]
	path = OCA/reporting-engine
	url = git@github.com:OCA/reporting-engine.git
	branch = 16.0

[submodule "ingegniamo/adgenera_custom"]
	path = ingegniamo/adgenera_custom
	url = git@github.com:ingegniamo/adgenera_custom.git
	branch = 16.0

[submodule "OCA/account-analytic"]
	path = OCA/account-analytic
	url = git@github.com:OCA/account-analytic.git
	branch = 16.0

[submodule "OCA/purchase-workflow"]
	path = OCA/purchase-workflow
	url = git@github.com:OCA/purchase-workflow.git
	branch = 16.0

[submodule "OCA/sale-workflow"]
	path = OCA/sale-workflow
	url = git@github.com:OCA/sale-workflow.git
	branch = 16.0

[submodule "OCA/stock-logistics-warehouse"]
	path = OCA/stock-logistics-warehouse
	url = git@github.com:OCA/stock-logistics-warehouse.git
	branch = 16.0

[submodule "OCA/stock-logistics-workflow"]
	path = OCA/stock-logistics-workflow
	url = git@github.com:OCA/stock-logistics-workflow.git
	branch = 16.0

[submodule "OCA/manufacture"]
	path = OCA/manufacture
	url = git@github.com:OCA/manufacture.git
	branch = 16.0

[submodule "ingegniamo/hr_stesi_sheet"]
	path = ingegniamo/hr_stesi_sheet
	url = git@github.com:ingegniamo/hr_stesi_sheet.git
	branch = 16.0

[submodule "ingegniamo/mrp_bom_overview_delta"]
	path = ingegniamo/mrp_bom_overview_delta
	url = git@github.com:ingegniamo/mrp_bom_overview_delta.git
	branch = 16.0

[submodule "ingegniamo/sh_import_lot_serial_picking"]
	path = ingegniamo/sh_import_lot_serial_picking
	url = git@github.com:ingegniamo/sh_import_lot_serial_picking.git
	branch = 16.0

[submodule "ingegniamo/sh_message"]
	path = ingegniamo/sh_message
	url = git@github.com:ingegniamo/sh_message.git
	branch = 16.0

[submodule "ingegniamo/mrp_show_subcontracting_all"]
	path = ingegniamo/mrp_show_subcontracting_all
	url = git@github.com:ingegniamo/mrp_show_subcontracting_all.git
	branch = 16.0

[submodule "ingegniamo/mrp_progress_track"]
	path = ingegniamo/mrp_progress_track
	url = git@github.com:ingegniamo/mrp_progress_track.git
	branch = 16.0

[submodule "ingegniamo/sh_bom_structure_excel"]
	path = ingegniamo/sh_bom_structure_excel
	url = git@github.com:ingegniamo/sh_bom_structure_excel.git
	branch = 16.0

[submodule "ingegniamo/approvals_analytic_purchase"]
	path = ingegniamo/approvals_analytic_purchase
	url = git@github.com:ingegniamo/approvals_analytic_purchase.git
	branch = 16.0

[submodule "ingegniamo/hr_stesi_sheet_project_timesheet_holidays"]
	path = ingegniamo/hr_stesi_sheet_project_timesheet_holidays
	url = git@github.com:ingegniamo/hr_stesi_sheet_project_timesheet_holidays.git
	branch = 16.0

[submodule "ingegniamo/holiday_from_timesheet"]
	path = ingegniamo/holiday_from_timesheet
	url = git@github.com:ingegniamo/holiday_from_timesheet.git
	branch = 16.0

[submodule "ingegniamo/stesi_import_lot_serial_picking"]
	path = ingegniamo/stesi_import_lot_serial_picking
	url = git@github.com:ingegniamo/stesi_import_lot_serial_picking.git
	branch = 16.0

[submodule "ingegniamo/stock_lot_show_buyer"]
	path = ingegniamo/stock_lot_show_buyer
	url = git@github.com:ingegniamo/stock_lot_show_buyer.git
	branch = 16.0

[submodule "ingegniamo/stesi_profit-loss_analytic_line_draft"]
	path = ingegniamo/stesi_profit-loss_analytic_line_draft
	url = git@github.com:ingegniamo/stesi_profit-loss_analytic_line_draft.git
	branch = 16.0

[submodule "ingegniamo/stock_serial_out_show_only_on_stock"]
	path = ingegniamo/stock_serial_out_show_only_on_stock
	url = git@github.com:ingegniamo/stock_serial_out_show_only_on_stock.git
	branch = 16.0

[submodule "OCA/project"]
	path = OCA/project
	url = git@github.com:OCA/project.git
	branch = 16.0

[submodule "ingegniamo/hr_timesheet_restrict_update"]
	path = ingegniamo/hr_timesheet_restrict_update
	url = git@github.com:ingegniamo/hr_timesheet_restrict_update.git
	branch = 16.0

[submodule "ingegniamo/mrp_bom_enable_byProducts_with_subcontracting"]
	path = ingegniamo/mrp_bom_enable_byProducts_with_subcontracting
	url = git@github.com:ingegniamo/mrp_bom_enable_byProducts_with_subcontracting.git
	branch = 16.0

[submodule "oca/stock-logistics-workflow"]
	path = oca/stock-logistics-workflow
	url = git@github.com:oca/stock-logistics-workflow.git
	branch = 16.0

[submodule "OCA/timesheet"]
	path = OCA/timesheet
	url = git@github.com:OCA/timesheet.git
	branch = 16.0

[submodule "ingegniamo/stesi_hr_timesheet_sheet_autodraft"]
	path = ingegniamo/stesi_hr_timesheet_sheet_autodraft
	url = git@github.com:ingegniamo/stesi_hr_timesheet_sheet_autodraft.git
	branch = 16.0

[submodule "ingegniamo/mrp_subcontracting_temp_fix"]
	path = ingegniamo/mrp_subcontracting_temp_fix
	url = git@github.com:ingegniamo/mrp_subcontracting_temp_fix.git
	branch = 16.0

[submodule "ingegniamo/l10n_it_delivery_note_serial_fix"]
	path = ingegniamo/l10n_it_delivery_note_serial_fix
	url = git@github.com:ingegniamo/l10n_it_delivery_note_serial_fix.git
	branch = 16.0

[submodule "OCA/account-payment"]
	path = OCA/account-payment
	url = git@github.com:OCA/account-payment.git
	branch = 16.0

[submodule "stesi/stesi_accounting"]
	path = stesi/stesi_accounting
	url = git@github.com:stesi/stesi_accounting.git
	branch = 16.0

[submodule "OCA/server-tools"]
	path = OCA/server-tools
	url = git@github.com:OCA/server-tools.git
	branch = 16.0
